#include "../../../include/concepts/member/has_member_MEMBER_TYPE_v.hpp"
using namespace nxwheels;
#include "../../four_types.hpp"

struct A {
    typedef int MEMBER_TYPE;
};

int main() {
    static_assert(!has_member_MEMBER_TYPE_v<void>);

    static_assert(!has_member_MEMBER_TYPE_v<int>);

    static_assert(!has_member_MEMBER_TYPE_v<S>);

    static_assert(has_member_MEMBER_TYPE_v<A>);
}
